.character {
  max-width: 188px;
  height: auto;
  max-height: 325px;
  background-color: #484848;
  border-radius: 20px;
}

.character_change_color {
  background-color: #cc272d;
}

.character__link {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

.character__image {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
}

.character__name-box {
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: center;
}

.character__name {
  margin: 0;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
}
