.add-button {
  margin: 0 auto;
  display: block;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.add-button-img {
  width: 60px;
}
