.character__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.character {
  margin: 20px;
  width: 188px;
  min-height: 325px;
  background-color: #484848;
  border-radius: 20px;
}

.character_change_color {
  background-color: #cc272d;
}

.character__link {
  text-decoration: none;
}

.character__image {
  width: 100%;
  height: 214px;
  border-radius: 20px 20px 0 0;
}

.character__name-box {
  display: flex;
  min-height: 111px;
  align-items: center;
  justify-content: center;
}

.character__name {
  margin: 0;
  color: #fff;
  font-size: 23px;
  font-weight: bold;
}
