.profile-info__button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  z-index: 1000;
}

.profile-info {
  font-family: 'Comic Neue', cursive;
  border: 2px solid red;
  z-index: 1000;
}

.profile-info__name-box {
  background-color: #404040;
  height: 80px;
  display: flex;
  justify-content: center;
}

.profile-info__name {
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: #cc272d;
  align-self: center;
}

.profile-info__box-img-info {
  display: flex;
  justify-content: center;
}

.profile-info__image {
  max-width: 491px;
  height: 508px;
}

.profile-info__description {
  margin: 15px;
  font-size: 18px;
}
