.navigation {
  display: flex;
  padding: 20px 0;
  font-family: 'Comic Neue', cursive;
  align-items: center;
}

.navigation__nav {
  width: 390px;
  margin-left: auto;
}

.navigation__nav-list {
  list-style: none;
  padding: 0;
  padding-right: 30px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  text-decoration: none;
  color: #484848;
  font-weight: bold;
  font-size: 35px;
}

.navigation__link_active {
  color: #cc272d;
}
