.main {
  font-family: 'Comic Neue', cursive;
}

.main__image {
  position: absolute;
  top: 120px;
  border-radius: 30%;
  max-width: 500px;
}

.main__container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 450px;
  margin-right: 100px;
}

.main__title {
  margin: 0;
  color: #cc272d;
  font-weight: bold;
  font-size: 55px;
  margin-top: 80px;
}

.main__search-form {
  display: flex;
  margin-top: 30px;
}

.main__search-input {
  outline: none;
  padding: 0;
  padding-left: 25px;
  border-radius: 20px;
  font-size: 30px;
  font-family: 'Comic Neue', cursive;
  width: 587px;
  height: 67px;
  border: 1px solid #000;
}

.main__search-input::placeholder {
  font-size: 28px;
  font-family: 'Comic Neue', cursive;
}

.main__button-search {
  border: none;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  margin-left: 15px;
}

.main__button-search-img {
  width: 70px;
}
