.characters_page__container {
  margin: 0 auto;
  padding: 20px 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.characters_page__link {
  text-decoration: none;
  margin: 0;
}
