.characters_page__container {
  margin: 0 auto;
  padding: 20px 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.characters_page__button {
  margin: 0 auto;
  display: block;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.characters_page__button-img {
  width: 60px;
}
